.rightItemWrapper {
    font-family: 'Oswald', sans-serif;
    color: rgba(0,0,0,0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    background-color: rgba(0,0,0,0);
    border: 0px;
    cursor: pointer;
    display: block;
}
.swImage {
    width: 45%;
    float: right;
    margin-top: 10%;
}
.sw1Project {
    float: right;
    font-weight: 200;
    font-size: 200px;
    margin-top: 18%;
    margin-right: -15%;
}
.acImage {
    width: 50%;
    float: right;
    margin-top: 14%;
}
.ac1Project {
    float: right;
    font-size: 200px;
    font-weight: 200;
    margin-top: 19%;
    margin-right: -9%;
}
.ac2Project {
    float: right;
    font-size: 200px;
    font-weight: 200;
    margin-top: 34%;
    margin-right: -58%;
}
.grImage {
    width: 60%;
    float: right;
    margin-top: 6%;
}
.gr1Project {
    float: right;
    font-size: 200px;
    font-weight: 200;
    margin-top: 3%;
    margin-right: -7%;
}
.gr2Project {
    float: right;
    font-size: 200px;
    font-weight: 200;
    margin-top: 20%;
    margin-right: -41%;
}
.brandImage {
    width: 50%;
    float: right;
    margin-top: 8%;
}
.brand1Project {
    float: right;
    font-size: 200px;
    font-weight: 200;
    margin-top: 2%;
    margin-right: 1%;
}
.brand2Project {
    float: right;
    font-size: 200px;
    font-weight: 200;
    margin-top: 19%;
    margin-right: -52%;
}