* {
    margin: 0;
    padding: 0;
}

.aboutWrapper {
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 10%;
    border: 2px solid white;
    padding: 3%;
}
.aboutTitle {
    font-family: 'Oswald', sans-serif;
    font-size: 150px;
    font-weight: 400;
    margin: 0;
    margin-top: -5%;
    color: rgba(0,0,0,0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}
.aboutText {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    color: white;
    line-height: 34px;
}