.footerWrapper {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    border-top: 2px solid #00605c;
    padding-bottom: 2%;
}
.copyRight{
    margin-top: 3%;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 20px;
}
.footerIconWrapper {
    display: flex;
    margin-top: 2%;
}
.footerIcons {
    width: 60px;
    margin-left: 20px;
    float: right;
    color: white;
}